.splash {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/splash2.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
}

#aboutus {
    max-width: 1024px;
    margin-top: 60px;
}

#key-features {
    margin-top: 30px;
}

.key-feature-odd {}

.our-mission-images {
    max-width: 40%;
}

#mission-header {
    font-size: 5vw;
}

#firebaseui-auth-container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}